

.table .mdl-card {
    width: 10%;
}
 
#unit-button-click .mdl-button {
    margin: 30px;
}

label{
    padding-left: 20px;
    font-size: 18px;
}

#unit-table {
    text-align: left;
}

.duff-button-section {
    padding-left: auto;
    /* padding-bottom: 2%; */
    text-align: center;
    
  }
   .duff-button-section .mdl-button--primary{
     border: 1px solid #041C86;
     color: #0D0C6F;
   }

.mdl-card__supporting-text {
    padding: 10px;
    color: rgba(0,0,0,.84);
}

.mdl-card__supporting-text.mdl-card--border {
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid rgba(0,0,0,.1);
  width: 95%;
}

.mdl-textfield {
  position: relative;
}

.demo-card-wide.mdl-card {
  width: 640px;
  height: 300px;
  
}

.mdl-card__actions {
  z-index: 5;
}

#name {
  display:flex;
  margin-top: 10px;
  justify-content: left;
}

#contact{
  display: flex;

}


#mycard {
  height: 600px;
  width:100%;
  display:flex;
  flex-direction: row;
  outline: #0053FF solid 10px;
  justify-content: center;
  align-items: center;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
  background-color: #FF7300;
}

.mdl-textfield__label {
  margin-left: -20px;
}


